*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: aliceblue;
}

.caja1 {
    background-color: burlywood;
    border: 2px solid black;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja2 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja2 img {
    max-width: 480px;  
    max-height: 480px; 
    height: auto;      
    width: auto;       
}
.caja3 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
} 
.caja3 img {
    max-width: 250px;  
    max-height: 250px; 
    height: auto;      
    width: auto;       
}
.caja4 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja4 img {
    max-width: 250px;  
    max-height: 250px; 
    height: auto;      
    width: auto;       
}
.caja5 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja5 img {
    max-width: 250px;  
    max-height: 250px; 
    height: auto;      
    width: auto;       
}

.caja6 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja6 img {
    max-width: 250px;  
    max-height: 250px; 
    height: auto;      
    width: auto;       
}
.caja7 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja7 img {
    max-width: 250px;  
    max-height: 250px; 
    height: auto;      
    width: auto;       
}
.caja8 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caja8 img {
    max-width: 250px;  
    max-height: 250px; 
    height: auto;      
    width: auto;       
}
.caja9 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
}
.caja10 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.caja10 img {
    max-width: 100px;  
    max-height: 100px; 
    height: auto;      
    width: auto;       
}
.caja11 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
}
.caja12 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
}
.caja13 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
}
.caja14 {
    background-color: #7c7367;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
}
.caja15 {
    background-color: #a7a5a2;
    border: 2px solid black;
    height: 300px;
    display: flex;
    justify-content: center;
}